

#amul {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background: linear-gradient(to bottom, #ebe1eb, white);
}

.TORO {
    width: 190px;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid#d4b0c9;
    opacity: 0.7;
    background: transparent;
}

button {
  color: #d0bdd4;
  background-color: #f6f4f7;
  border: 1px solid #d4b0c9;
  border-radius: 6px;
}

button:hover {
  color: thistle;
  background-color: lavenderblush;
  border: 1px solid thistle;
  padding: 6px 8px;
}

.menu {
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid thistle;
    background-color: white;
    color: #333;
}

